/* Error: Expected digit.
 *    ,
 * 41 |         font: normal normal bold 16px/22px fonts.$fonts.$roboto;
 *    |                                                         ^
 *    '
 *   assets/stylesheets/scss/_plans_page.scss 41:57  @use
 *   assets/stylesheets/scss/primary.scss 4:1        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected digit.\a    \2577 \a 41 \2502          font: normal normal bold 16px/22px fonts.$fonts.$roboto;\a    \2502                                                          ^\a    \2575 \a   assets/stylesheets/scss/_plans_page.scss 41:57  @use\a   assets/stylesheets/scss/primary.scss 4:1        root stylesheet";
}
