.page-breadcrumb {
  background: #FFFFFF;
  border-bottom: 2px solid #C7C8C9;
  padding: 1.5rem 0px;
  padding-top: 15px;
  padding-bottom: 18px;
}
.page-breadcrumb .breadcrumb {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.page-breadcrumb .breadcrumb-item {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.page-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  margin: 0 1rem;
  width: 7px;
  color: black;
  font: normal normal medium 14px/19px "Roboto";
}
.page-breadcrumb .breadcrumb-item a {
  color: black;
  text-decoration: none;
}
.page-breadcrumb .breadcrumb-item a:hover {
  text-decoration: underline;
}
.page-breadcrumb .breadcrumb-item.current {
  color: #3167FF;
  font-weight: 600;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0px;
  justify-content: center;
  align-items: start;
  min-width: 100%;
}

.col-1 {
  grid-column-end: span 1;
}

.col-2 {
  grid-column-end: span 2;
}

.col-3 {
  grid-column-end: span 3;
}

.col-4 {
  grid-column-end: span 4;
}

.col-5 {
  grid-column-end: span 5;
}

.col-6 {
  grid-column-end: span 6;
}

.col-7 {
  grid-column-end: span 7;
}

.col-8 {
  grid-column-end: span 8;
}

.col-9 {
  grid-column-end: span 9;
}

.col-10 {
  grid-column-end: span 10;
}

.col-11 {
  grid-column-end: span 11;
}

.col-12 {
  grid-column-end: span 12;
}

.offset-0 {
  grid-column-start: 1;
}

.offset-1 {
  grid-column-start: 2;
}

.offset-2 {
  grid-column-start: 3;
}

.offset-3 {
  grid-column-start: 4;
}

.offset-4 {
  grid-column-start: 5;
}

.offset-5 {
  grid-column-start: 6;
}

.offset-6 {
  grid-column-start: 7;
}

.offset-7 {
  grid-column-start: 8;
}

.offset-8 {
  grid-column-start: 9;
}

.offset-9 {
  grid-column-start: 10;
}

.offset-10 {
  grid-column-start: 11;
}

.offset-11 {
  grid-column-start: 12;
}

@media (min-width: 768px) {
  .col-md-1 {
    grid-column-end: span 1;
  }
  .col-md-2 {
    grid-column-end: span 2;
  }
  .col-md-3 {
    grid-column-end: span 3;
  }
  .col-md-4 {
    grid-column-end: span 4;
  }
  .col-md-5 {
    grid-column-end: span 5;
  }
  .col-md-6 {
    grid-column-end: span 6;
  }
  .col-md-7 {
    grid-column-end: span 7;
  }
  .col-md-8 {
    grid-column-end: span 8;
  }
  .col-md-9 {
    grid-column-end: span 9;
  }
  .col-md-10 {
    grid-column-end: span 10;
  }
  .col-md-11 {
    grid-column-end: span 11;
  }
  .col-md-12 {
    grid-column-end: span 12;
  }
  .offset-md-0 {
    grid-column-start: 1;
  }
  .offset-md-1 {
    grid-column-start: 2;
  }
  .offset-md-2 {
    grid-column-start: 3;
  }
  .offset-md-3 {
    grid-column-start: 4;
  }
  .offset-md-4 {
    grid-column-start: 5;
  }
  .offset-md-5 {
    grid-column-start: 6;
  }
  .offset-md-6 {
    grid-column-start: 7;
  }
  .offset-md-7 {
    grid-column-start: 8;
  }
  .offset-md-8 {
    grid-column-start: 9;
  }
  .offset-md-9 {
    grid-column-start: 10;
  }
  .offset-md-10 {
    grid-column-start: 11;
  }
  .offset-md-11 {
    grid-column-start: 12;
  }
}
@media (min-width: 992px) {
  .col-xmd-1 {
    grid-column-end: span 1;
  }
  .col-xmd-2 {
    grid-column-end: span 2;
  }
  .col-xmd-3 {
    grid-column-end: span 3;
  }
  .col-xmd-4 {
    grid-column-end: span 4;
  }
  .col-xmd-5 {
    grid-column-end: span 5;
  }
  .col-xmd-6 {
    grid-column-end: span 6;
  }
  .col-xmd-7 {
    grid-column-end: span 7;
  }
  .col-xmd-8 {
    grid-column-end: span 8;
  }
  .col-xmd-9 {
    grid-column-end: span 9;
  }
  .col-xmd-10 {
    grid-column-end: span 10;
  }
  .col-xmd-11 {
    grid-column-end: span 11;
  }
  .col-xmd-12 {
    grid-column-end: span 12;
  }
  .offset-xmd-0 {
    grid-column-start: 1;
  }
  .offset-xmd-1 {
    grid-column-start: 2;
  }
  .offset-xmd-2 {
    grid-column-start: 3;
  }
  .offset-xmd-3 {
    grid-column-start: 4;
  }
  .offset-xmd-4 {
    grid-column-start: 5;
  }
  .offset-xmd-5 {
    grid-column-start: 6;
  }
  .offset-xmd-6 {
    grid-column-start: 7;
  }
  .offset-xmd-7 {
    grid-column-start: 8;
  }
  .offset-xmd-8 {
    grid-column-start: 9;
  }
  .offset-xmd-9 {
    grid-column-start: 10;
  }
  .offset-xmd-10 {
    grid-column-start: 11;
  }
  .offset-xmd-11 {
    grid-column-start: 12;
  }
}
@media (min-width: 1025px) {
  .col-lg-1 {
    grid-column-end: span 1;
  }
  .col-lg-2 {
    grid-column-end: span 2;
  }
  .col-lg-3 {
    grid-column-end: span 3;
  }
  .col-lg-4 {
    grid-column-end: span 4;
  }
  .col-lg-5 {
    grid-column-end: span 5;
  }
  .col-lg-6 {
    grid-column-end: span 6;
  }
  .col-lg-7 {
    grid-column-end: span 7;
  }
  .col-lg-8 {
    grid-column-end: span 8;
  }
  .col-lg-9 {
    grid-column-end: span 9;
  }
  .col-lg-10 {
    grid-column-end: span 10;
  }
  .col-lg-11 {
    grid-column-end: span 11;
  }
  .col-lg-12 {
    grid-column-end: span 12;
  }
  .offset-lg-0 {
    grid-column-start: 1;
  }
  .offset-lg-1 {
    grid-column-start: 2;
  }
  .offset-lg-2 {
    grid-column-start: 3;
  }
  .offset-lg-3 {
    grid-column-start: 4;
  }
  .offset-lg-4 {
    grid-column-start: 5;
  }
  .offset-lg-5 {
    grid-column-start: 6;
  }
  .offset-lg-6 {
    grid-column-start: 7;
  }
  .offset-lg-7 {
    grid-column-start: 8;
  }
  .offset-lg-8 {
    grid-column-start: 9;
  }
  .offset-lg-9 {
    grid-column-start: 10;
  }
  .offset-lg-10 {
    grid-column-start: 11;
  }
  .offset-lg-11 {
    grid-column-start: 12;
  }
}
@media (min-width: 1700px) {
  .col-xxl-1 {
    grid-column-end: span 1;
  }
  .col-xxl-2 {
    grid-column-end: span 2;
  }
  .col-xxl-3 {
    grid-column-end: span 3;
  }
  .col-xxl-4 {
    grid-column-end: span 4;
  }
  .col-xxl-5 {
    grid-column-end: span 5;
  }
  .col-xxl-6 {
    grid-column-end: span 6;
  }
  .col-xxl-7 {
    grid-column-end: span 7;
  }
  .col-xxl-8 {
    grid-column-end: span 8;
  }
  .col-xxl-9 {
    grid-column-end: span 9;
  }
  .col-xxl-10 {
    grid-column-end: span 10;
  }
  .col-xxl-11 {
    grid-column-end: span 11;
  }
  .col-xxl-12 {
    grid-column-end: span 12;
  }
  .offset-xxl-0 {
    grid-column-start: 1;
  }
  .offset-xxl-1 {
    grid-column-start: 2;
  }
  .offset-xxl-2 {
    grid-column-start: 3;
  }
  .offset-xxl-3 {
    grid-column-start: 4;
  }
  .offset-xxl-4 {
    grid-column-start: 5;
  }
  .offset-xxl-5 {
    grid-column-start: 6;
  }
  .offset-xxl-6 {
    grid-column-start: 7;
  }
  .offset-xxl-7 {
    grid-column-start: 8;
  }
  .offset-xxl-8 {
    grid-column-start: 9;
  }
  .offset-xxl-9 {
    grid-column-start: 10;
  }
  .offset-xxl-10 {
    grid-column-start: 11;
  }
  .offset-xxl-11 {
    grid-column-start: 12;
  }
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-3/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-3/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-3/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-3/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-3/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-3/Roboto-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-3/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-3/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-3/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-3/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-3/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-3/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("../../fonts/roboto-3/RobotoCondensed-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("../../fonts/roboto-3/RobotoCondensed-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("../../fonts/roboto-3/RobotoCondensed-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("../../fonts/roboto-3/RobotoCondensed-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("../../fonts/roboto-3/RobotoCondensed-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("../../fonts/roboto-3/RobotoCondensed-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("../../fonts/roboto-3/RobotoCondensed-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("../../fonts/roboto-3/RobotoCondensed-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@keyframes flash {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.35;
  }
  100% {
    opacity: 0;
  }
}
.plans_section_container {
  background-color: #FFFDF7;
  flex: 1;
  width: 100%;
  height: fit-content;
  display: flex;
  text-align: center;
}
.plans_section_container * {
  height: fit-content;
}
.plans_section_container .branding-row {
  margin-top: 19px;
}
.plans_section_container .branding-text {
  margin-top: 20px;
  font-size: 36px;
  color: #333333;
}
.plans_section_container .plans-info {
  font-size: 16px;
  margin-top: 11px;
}
.plans_section_container .accent-text {
  font: normal normal bold 16px/22px "Roboto", sans-serif;
}
.plans_section_container #plan-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: wrap;
  justify-content: space-evenly;
}
.plans_section_container #plan-cards-container .plan-card {
  background-color: transparent;
  padding: 0px;
  position: relative;
  width: clamp(167px, 22vw, 278px);
  margin-top: 34px;
  cursor: pointer;
}
.plans_section_container #plan-cards-container .plan-card .special-text-pill {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0px 10px;
  background-color: #FFFFFF;
  border-radius: 11px;
  font-size: 14px;
  color: #333333;
}
.plans_section_container #plan-cards-container .plan-card .top-img {
  border-radius: 20px;
  width: 100% !important;
  aspect-ratio: 278/209;
  object-fit: cover;
  transition: transform 0.35s linear, filter 0.35s linear;
}
.plans_section_container #plan-cards-container .plan-card:has(.top-img:hover) .top-img {
  object-view-box: inset(5% 5% 5% 5%);
}
.plans_section_container #plan-cards-container .plan-card .card-title {
  display: block;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px !important;
  margin-bottom: 0px;
}
.plans_section_container #plan-cards-container .plan-card .card-title .subtext {
  font-size: 14px;
  font-weight: normal;
}
.plans_section_container #plan-cards-container .plan-card:not(:first-of-type)::after {
  content: "";
  position: absolute;
  inset: 0;
  background: white;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
  height: 80%;
}
.plans_section_container #plan-cards-container .plan-card:not(:first-of-type):has(.top-img:hover)::after {
  animation: flash 350ms ease;
}
.plans_section_container .shipping-info {
  font: normal normal normal 14px/20px Roboto;
  text-align: center;
  margin-top: 59px;
}
.plans_section_container .get-started-button {
  width: 150px;
  height: 45px;
  margin-top: 19px;
  margin-bottom: 48px;
  background: transparent linear-gradient(119deg, #AF2081 0%, #533174 100%) 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #FFFFFF;
  font: normal normal bold 16px/25px Roboto;
  letter-spacing: 0px;
  text-align: center;
  transition: 0.3s ease-out;
}
.plans_section_container .get-started-button:hover {
  width: 390px;
}
@media (max-width: 768px) {
  .plans_section_container .branding-row {
    margin-top: 30px;
  }
  .plans_section_container .branding-text {
    margin-top: 30px;
  }
  .plans_section_container .plans-info {
    font-size: 18px;
    margin-top: 9px;
  }
  .plans_section_container #plan-cards-container {
    justify-content: center;
    column-gap: 9px;
  }
  .plans_section_container .plan-card .special-text-pill {
    font-size: 11px !important;
    padding-left: 7px 2px 10px 4px !important;
  }
  .plans_section_container .plan-card .card-title {
    font-size: 20px !important;
  }
  .plans_section_container .shipping-info {
    margin-top: 40px;
  }
  .plans_section_container .get-started-button {
    width: 342px;
    transition: none;
    margin-bottom: 36px;
  }
  .plans_section_container .get-started-button:hover {
    width: 342px;
  }
}
@media (max-width: 1025px) {
  .plans_section_container #plan-cards-container {
    justify-content: center;
    column-gap: 15px;
  }
  .plans_section_container .plan-card {
    width: 38% !important;
  }
  .plans_section_container .shipping-info {
    margin-top: 40px;
  }
  .plans_section_container .get-started-button {
    width: 78%;
    transition: none;
    margin-bottom: 36px;
  }
  .plans_section_container .get-started-button:hover {
    width: 78%;
  }
}

.day_section_container .action_text {
  color: #333333;
  font: normal normal 500 48px/63px "Roboto", sans-serif;
  text-align: center;
  margin-top: 42px;
}
.day_section_container #day_selector_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 34px;
}
.day_section_container #day_selector {
  height: 335px;
  width: 395px;
  background-color: #FFFFFF;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: visible;
}
.day_section_container #day_selector .day_element {
  position: relative;
  width: 390px;
  height: 50px;
  border: 1px solid #707070;
  padding-left: 27px;
  background-color: #FFFFFF;
  text-align: left;
  transition: transform 0.3s ease-out;
  cursor: pointer;
}
.day_section_container #day_selector .day_element .date_info {
  font: normal normal 500 14px/19px "Roboto", sans-serif;
}
.day_section_container #day_selector .day_element .date_info .day-of-week {
  font-weight: bold;
}
.day_section_container #day_selector .day_element .most_popular_tag {
  position: absolute;
  top: 16px;
  right: 35px;
  font: normal normal normal 12px/16px Roboto;
  color: #D75E33;
  display: flex;
}
.day_section_container #day_selector .day_element .most_popular_tag svg {
  align-self: center;
  margin-right: 5px;
}
.day_section_container #day_selector .day_element.active {
  border-left: 8px solid #D75E33;
  padding-left: 20px;
}
.day_section_container #select_day_button_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.day_section_container #select_day_button_wrapper .spacer {
  width: 5px;
  background-color: transparent;
}
.day_section_container #select_day_button_wrapper #select_day_button {
  width: 392px;
  height: 45px;
  margin-top: 19px;
  background: transparent linear-gradient(119deg, #AF2081 0%, #533174 100%) 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #FFFFFF;
  font: normal normal bold 16px/25px Roboto;
  letter-spacing: 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.day_section_container #soonest_delivery_date_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 22px;
}
.day_section_container #soonest_delivery_date_wrapper .soonest_delivery_date {
  font: normal normal 500 12px/16px "Roboto", sans-serif;
  display: flex;
}
@media (max-width: 768px) {
  .day_section_container .action_text {
    font-size: 30px;
    margin-top: 30px;
  }
  .day_section_container #day_selector_wrapper {
    margin-top: 20px;
  }
  .day_section_container #day_selector {
    width: 92%;
  }
  .day_section_container #day_selector .day_element {
    width: 100%;
  }
  .day_section_container #select_day_button_wrapper .spacer {
    width: 0px;
  }
  .day_section_container #select_day_button_wrapper #select_day_button {
    margin-top: 30px;
    width: 93%;
  }
}
@media (min-width: 1025px) {
  .day_section_container .day_element:hover {
    transform: translateX(5px);
  }
}

.qa_section_container {
  margin-bottom: 316px;
}
.qa_section_container .qa_banner_text {
  font: normal normal 500 48px/63px "Roboto", sans-serif;
  text-align: center;
  color: #333333;
}
.qa_section_container #qa_accordion_wrapper {
  margin-top: 38px;
  display: flex;
  justify-content: center;
}
.qa_section_container #qa_accordion_wrapper .accordion {
  width: 84%;
}
.qa_section_container #qa_accordion_wrapper .accordion .accordion_element.open .accordion_head {
  color: #D75E33;
}
.qa_section_container #qa_accordion_wrapper .accordion .accordion_element.open .accordion_head .accordion_arrow {
  transform: rotateZ(180deg);
}
.qa_section_container #qa_accordion_wrapper .accordion .accordion_element.open .accordion_body {
  display: block;
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 3px;
  font: normal normal normal 16px/25px "Roboto", sans-serif;
}
.qa_section_container #qa_accordion_wrapper .accordion .accordion_element .accordion_head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #DFDDD8;
  height: 77px;
  width: 100%;
  font: normal normal 500 16px/21px "Roboto", sans-serif;
  cursor: pointer;
  padding: 0px;
}
.qa_section_container #qa_accordion_wrapper .accordion .accordion_element .accordion_head * {
  margin: 0px;
}
.qa_section_container #qa_accordion_wrapper .accordion .accordion_element .accordion_head .accordion_arrow {
  width: 26px;
  height: 26px;
  flex-shrink: 0;
  fill: none;
  stroke: #D75E33;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.qa_section_container #qa_accordion_wrapper .accordion .accordion_element .accordion_body {
  display: none;
}
@media (max-width: 768px) {
  .qa_section_container .qa_banner_text {
    font-size: 30px;
  }
  .qa_section_container #qa_accordion_wrapper {
    margin-top: 30px;
  }
  .qa_section_container .accordion {
    width: 90% !important;
  }
  .qa_section_container .accordion .accordion_element .accordion_body {
    margin-left: 4% !important;
    margin-right: 4% !important;
  }
}
@media (max-width: 1025px) {
  .qa_section_container .accordion {
    width: 100% !important;
  }
}

.dividing_rule_wrapper {
  margin-top: 60px;
  margin-bottom: 60px;
}
.dividing_rule_wrapper hr {
  border: none;
  height: 1px;
  background-color: #C7C8C9;
}

@media (max-width: 768px) {
  .dividing_rule_wrapper {
    margin-top: 38px;
    margin-bottom: 40px;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #FFFDF7;
}

.accent-text {
  color: #D75E33;
}

/*# sourceMappingURL=primary.css.map */
