.page-breadcrumb {
  background: #FFFFFF;
  border-bottom: 2px solid #C7C8C9;
  padding: 1.5rem 0px;
  padding-top: 15px;
  padding-bottom: 18px;
}
.page-breadcrumb .breadcrumb {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.page-breadcrumb .breadcrumb-item {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.page-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  margin: 0 1rem;
  width: 7px;
  color: black;
  font: normal normal medium 14px/19px "Roboto";
}
.page-breadcrumb .breadcrumb-item a {
  color: black;
  text-decoration: none;
}
.page-breadcrumb .breadcrumb-item a:hover {
  text-decoration: underline;
}
.page-breadcrumb .breadcrumb-item.current {
  color: #3167FF;
  font-weight: 600;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0px;
  justify-content: center;
  align-items: start;
  min-width: 100%;
}

.col-1 {
  grid-column-end: span 1;
}

.col-2 {
  grid-column-end: span 2;
}

.col-3 {
  grid-column-end: span 3;
}

.col-4 {
  grid-column-end: span 4;
}

.col-5 {
  grid-column-end: span 5;
}

.col-6 {
  grid-column-end: span 6;
}

.col-7 {
  grid-column-end: span 7;
}

.col-8 {
  grid-column-end: span 8;
}

.col-9 {
  grid-column-end: span 9;
}

.col-10 {
  grid-column-end: span 10;
}

.col-11 {
  grid-column-end: span 11;
}

.col-12 {
  grid-column-end: span 12;
}

.offset-0 {
  grid-column-start: 1;
}

.offset-1 {
  grid-column-start: 2;
}

.offset-2 {
  grid-column-start: 3;
}

.offset-3 {
  grid-column-start: 4;
}

.offset-4 {
  grid-column-start: 5;
}

.offset-5 {
  grid-column-start: 6;
}

.offset-6 {
  grid-column-start: 7;
}

.offset-7 {
  grid-column-start: 8;
}

.offset-8 {
  grid-column-start: 9;
}

.offset-9 {
  grid-column-start: 10;
}

.offset-10 {
  grid-column-start: 11;
}

.offset-11 {
  grid-column-start: 12;
}

@media (min-width: 992px) {
  .col-lg-1 {
    grid-column-end: span 1;
  }
  .col-lg-2 {
    grid-column-end: span 2;
  }
  .col-lg-3 {
    grid-column-end: span 3;
  }
  .col-lg-4 {
    grid-column-end: span 4;
  }
  .col-lg-5 {
    grid-column-end: span 5;
  }
  .col-lg-6 {
    grid-column-end: span 6;
  }
  .col-lg-7 {
    grid-column-end: span 7;
  }
  .col-lg-8 {
    grid-column-end: span 8;
  }
  .col-lg-9 {
    grid-column-end: span 9;
  }
  .col-lg-10 {
    grid-column-end: span 10;
  }
  .col-lg-11 {
    grid-column-end: span 11;
  }
  .col-lg-12 {
    grid-column-end: span 12;
  }
  .offset-lg-0 {
    grid-column-start: 1;
  }
  .offset-lg-1 {
    grid-column-start: 2;
  }
  .offset-lg-2 {
    grid-column-start: 3;
  }
  .offset-lg-3 {
    grid-column-start: 4;
  }
  .offset-lg-4 {
    grid-column-start: 5;
  }
  .offset-lg-5 {
    grid-column-start: 6;
  }
  .offset-lg-6 {
    grid-column-start: 7;
  }
  .offset-lg-7 {
    grid-column-start: 8;
  }
  .offset-lg-8 {
    grid-column-start: 9;
  }
  .offset-lg-9 {
    grid-column-start: 10;
  }
  .offset-lg-10 {
    grid-column-start: 11;
  }
  .offset-lg-11 {
    grid-column-start: 12;
  }
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-3/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-3/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-3/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-3/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-3/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-3/Roboto-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-3/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-3/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-3/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-3/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-3/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-3/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("../../fonts/roboto-3/RobotoCondensed-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("../../fonts/roboto-3/RobotoCondensed-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("../../fonts/roboto-3/RobotoCondensed-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("../../fonts/roboto-3/RobotoCondensed-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("../../fonts/roboto-3/RobotoCondensed-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("../../fonts/roboto-3/RobotoCondensed-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("../../fonts/roboto-3/RobotoCondensed-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("../../fonts/roboto-3/RobotoCondensed-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
.plans_section_container {
  background-color: #FFFDF7;
  flex: 1;
  width: 100%;
  display: flex;
  text-align: center;
}
.plans_section_container * {
  height: fit-content;
}
.plans_section_container .branding-row {
  margin-top: 19px;
}
.plans_section_container .branding-text {
  margin-top: 20px;
  font-size: 36px;
  color: #333333;
}
.plans_section_container .plans-info {
  font-size: 16px;
  margin-top: 11px;
}
.plans_section_container .accent-text {
  font: normal normal bold 16px/22px "Roboto", sans-serif;
}
.plans_section_container .plan-card {
  background-color: transparent;
  padding: 0px;
  position: relative;
}
.plans_section_container .plan-card .special-text-pill {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #FFFFFF;
  border-radius: 11px;
  font-size: 14px;
  color: #333333;
}
.plans_section_container .plan-card .top-img {
  border-radius: 20px;
}
.plans_section_container .plan-card .card-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}
.plans_section_container .plan-card .card-title .subtext {
  font-size: 14px;
  font-weight: normal;
}
@media (max-width: 992px) {
  .plans_section_container .branding-row {
    margin-top: 30px;
  }
  .plans_section_container .branding-text {
    margin-top: 30px;
  }
  .plans_section_container .plans-info {
    font-size: 18px;
    margin-top: 9px;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.accent-text {
  color: #D75E33;
}

/*# sourceMappingURL=primary.css.map */
