// colors.scss

$sharp-white-bg: #FFFFFF;
$main-bg: #FFFDF7;

$primary-text: black;
$accent-text: #D75E33;
$alternate-text: #333333;
$sharp-white-text: #FFFFFF;
$link-text: #3167FF;

$gradient-left: #AF2081;
$gradient-right: #533174;

$gray: #C7C8C9;
