
@use "colors";
@use "fonts";
@use "grid";

@use "day_section";
@use "qa_section";

.dividing_rule_wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
}

@media (max-width: grid.$breakpoint-md) {
    .dividing_rule_wrapper {
        margin-top: 38px;
        margin-bottom: 40px;
    }
}
