// fonts.scss

// @function px_to_vw($px, $reference-width: 1440px) {
//     @return ($px / $reference-width) * 100vw;
// }

// @function px_to_vh($px, $reference-height: 820px) {
//     @return ($px / $reference-height) * 100vh;
// }

$roboto: "Roboto", sans-serif;
$roboto-condensed: "Roboto Condensed", sans-serif;

@font-face {
    font-family: "Roboto";
    src: url("../../fonts/roboto-3/Roboto-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../../fonts/roboto-3/Roboto-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("../../fonts/roboto-3/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../../fonts/roboto-3/Roboto-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("../../fonts/roboto-3/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../../fonts/roboto-3/Roboto-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("../../fonts/roboto-3/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../../fonts/roboto-3/Roboto-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("../../fonts/roboto-3/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../../fonts/roboto-3/Roboto-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("../../fonts/roboto-3/Roboto-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../../fonts/roboto-3/Roboto-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

// ======================================================
// Roboto Condensed
// ======================================================

@font-face {
    font-family: "Roboto Condensed";
    src: url("../../fonts/roboto-3/RobotoCondensed-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("../../fonts/roboto-3/RobotoCondensed-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("../../fonts/roboto-3/RobotoCondensed-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("../../fonts/roboto-3/RobotoCondensed-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("../../fonts/roboto-3/RobotoCondensed-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("../../fonts/roboto-3/RobotoCondensed-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("../../fonts/roboto-3/RobotoCondensed-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("../../fonts/roboto-3/RobotoCondensed-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}