
// grid.scss

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-xmd: 992px;
$breakpoint-lg: 1025px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1700px;
$breakpoint-design: 1441px;

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0px;
    justify-content: center;
    align-items: start;
    min-width: 100%;
}

.col-1  { grid-column-end: span 1; }
.col-2  { grid-column-end: span 2; }
.col-3  { grid-column-end: span 3; }
.col-4  { grid-column-end: span 4; }
.col-5  { grid-column-end: span 5; }
.col-6  { grid-column-end: span 6; }
.col-7  { grid-column-end: span 7; }
.col-8  { grid-column-end: span 8; }
.col-9  { grid-column-end: span 9; }
.col-10 { grid-column-end: span 10; }
.col-11 { grid-column-end: span 11; }
.col-12 { grid-column-end: span 12; }

.offset-0  { grid-column-start: 1; }
.offset-1  { grid-column-start: 2; }
.offset-2  { grid-column-start: 3; }
.offset-3  { grid-column-start: 4; }
.offset-4  { grid-column-start: 5; }
.offset-5  { grid-column-start: 6; }
.offset-6  { grid-column-start: 7; }
.offset-7  { grid-column-start: 8; }
.offset-8  { grid-column-start: 9; }
.offset-9  { grid-column-start: 10; }
.offset-10 { grid-column-start: 11; }
.offset-11 { grid-column-start: 12; }

@media (min-width: $breakpoint-md) {
    .col-md-1  { grid-column-end: span 1; }
    .col-md-2  { grid-column-end: span 2; }
    .col-md-3  { grid-column-end: span 3; }
    .col-md-4  { grid-column-end: span 4; }
    .col-md-5  { grid-column-end: span 5; }
    .col-md-6  { grid-column-end: span 6; }
    .col-md-7  { grid-column-end: span 7; }
    .col-md-8  { grid-column-end: span 8; }
    .col-md-9  { grid-column-end: span 9; }
    .col-md-10 { grid-column-end: span 10; }
    .col-md-11 { grid-column-end: span 11; }
    .col-md-12 { grid-column-end: span 12; }

    .offset-md-0  { grid-column-start: 1; }
    .offset-md-1  { grid-column-start: 2; }
    .offset-md-2  { grid-column-start: 3; }
    .offset-md-3  { grid-column-start: 4; }
    .offset-md-4  { grid-column-start: 5; }
    .offset-md-5  { grid-column-start: 6; }
    .offset-md-6  { grid-column-start: 7; }
    .offset-md-7  { grid-column-start: 8; }
    .offset-md-8  { grid-column-start: 9; }
    .offset-md-9  { grid-column-start: 10; }
    .offset-md-10 { grid-column-start: 11; }
    .offset-md-11 { grid-column-start: 12; }
}

@media (min-width: $breakpoint-xmd) {
    .col-xmd-1  { grid-column-end: span 1; }
    .col-xmd-2  { grid-column-end: span 2; }
    .col-xmd-3  { grid-column-end: span 3; }
    .col-xmd-4  { grid-column-end: span 4; }
    .col-xmd-5  { grid-column-end: span 5; }
    .col-xmd-6  { grid-column-end: span 6; }
    .col-xmd-7  { grid-column-end: span 7; }
    .col-xmd-8  { grid-column-end: span 8; }
    .col-xmd-9  { grid-column-end: span 9; }
    .col-xmd-10 { grid-column-end: span 10; }
    .col-xmd-11 { grid-column-end: span 11; }
    .col-xmd-12 { grid-column-end: span 12; }

    .offset-xmd-0  { grid-column-start: 1; }
    .offset-xmd-1  { grid-column-start: 2; }
    .offset-xmd-2  { grid-column-start: 3; }
    .offset-xmd-3  { grid-column-start: 4; }
    .offset-xmd-4  { grid-column-start: 5; }
    .offset-xmd-5  { grid-column-start: 6; }
    .offset-xmd-6  { grid-column-start: 7; }
    .offset-xmd-7  { grid-column-start: 8; }
    .offset-xmd-8  { grid-column-start: 9; }
    .offset-xmd-9  { grid-column-start: 10; }
    .offset-xmd-10 { grid-column-start: 11; }
    .offset-xmd-11 { grid-column-start: 12; }
}

@media (min-width: $breakpoint-lg) {
    .col-lg-1  { grid-column-end: span 1; }
    .col-lg-2  { grid-column-end: span 2; }
    .col-lg-3  { grid-column-end: span 3; }
    .col-lg-4  { grid-column-end: span 4; }
    .col-lg-5  { grid-column-end: span 5; }
    .col-lg-6  { grid-column-end: span 6; }
    .col-lg-7  { grid-column-end: span 7; }
    .col-lg-8  { grid-column-end: span 8; }
    .col-lg-9  { grid-column-end: span 9; }
    .col-lg-10 { grid-column-end: span 10; }
    .col-lg-11 { grid-column-end: span 11; }
    .col-lg-12 { grid-column-end: span 12; }

    .offset-lg-0  { grid-column-start: 1; }
    .offset-lg-1  { grid-column-start: 2; }
    .offset-lg-2  { grid-column-start: 3; }
    .offset-lg-3  { grid-column-start: 4; }
    .offset-lg-4  { grid-column-start: 5; }
    .offset-lg-5  { grid-column-start: 6; }
    .offset-lg-6  { grid-column-start: 7; }
    .offset-lg-7  { grid-column-start: 8; }
    .offset-lg-8  { grid-column-start: 9; }
    .offset-lg-9  { grid-column-start: 10; }
    .offset-lg-10 { grid-column-start: 11; }
    .offset-lg-11 { grid-column-start: 12; }
}

@media (min-width: $breakpoint-xxl) {
    .col-xxl-1  { grid-column-end: span 1; }
    .col-xxl-2  { grid-column-end: span 2; }
    .col-xxl-3  { grid-column-end: span 3; }
    .col-xxl-4  { grid-column-end: span 4; }
    .col-xxl-5  { grid-column-end: span 5; }
    .col-xxl-6  { grid-column-end: span 6; }
    .col-xxl-7  { grid-column-end: span 7; }
    .col-xxl-8  { grid-column-end: span 8; }
    .col-xxl-9  { grid-column-end: span 9; }
    .col-xxl-10 { grid-column-end: span 10; }
    .col-xxl-11 { grid-column-end: span 11; }
    .col-xxl-12 { grid-column-end: span 12; }

    .offset-xxl-0  { grid-column-start: 1; }
    .offset-xxl-1  { grid-column-start: 2; }
    .offset-xxl-2  { grid-column-start: 3; }
    .offset-xxl-3  { grid-column-start: 4; }
    .offset-xxl-4  { grid-column-start: 5; }
    .offset-xxl-5  { grid-column-start: 6; }
    .offset-xxl-6  { grid-column-start: 7; }
    .offset-xxl-7  { grid-column-start: 8; }
    .offset-xxl-8  { grid-column-start: 9; }
    .offset-xxl-9  { grid-column-start: 10; }
    .offset-xxl-10 { grid-column-start: 11; }
    .offset-xxl-11 { grid-column-start: 12; }
}

@media (min-width: $breakpoint-design) {
    .col-design-1  { grid-column-end: span 1; }
    .col-design-2  { grid-column-end: span 2; }
    .col-design-3  { grid-column-end: span 3; }
    .col-design-4  { grid-column-end: span 4; }
    .col-design-5  { grid-column-end: span 5; }
    .col-design-6  { grid-column-end: span 6; }
    .col-design-7  { grid-column-end: span 7; }
    .col-design-8  { grid-column-end: span 8; }
    .col-design-9  { grid-column-end: span 9; }
    .col-design-10 { grid-column-end: span 10; }
    .col-design-11 { grid-column-end: span 11; }
    .col-design-12 { grid-column-end: span 12; }

    .offset-design-0  { grid-column-start: 1; }
    .offset-design-1  { grid-column-start: 2; }
    .offset-design-2  { grid-column-start: 3; }
    .offset-design-3  { grid-column-start: 4; }
    .offset-design-4  { grid-column-start: 5; }
    .offset-design-5  { grid-column-start: 6; }
    .offset-design-6  { grid-column-start: 7; }
    .offset-design-7  { grid-column-start: 8; }
    .offset-design-8  { grid-column-start: 9; }
    .offset-design-9  { grid-column-start: 10; }
    .offset-design-10 { grid-column-start: 11; }
    .offset-design-11 { grid-column-start: 12; }
}
