// primary.scss

@use "breadcrumbs";
@use "plans_page";
@use "day_page";
@use "meals_page";

@use "reset";
@use "fonts";
@use "colors";

.page {
    font-family: fonts.$roboto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: colors.$main-bg;
}

.accent-text {
    color: colors.$accent-text;
}
